.bg{
	background-color:#dec78a;
}
.page{
	&.fingerprint{
		.group{
			@include float-left();
			margin-top: 84+ $asus-main-nav-h;
			text-align: center;
			width:calcDist(960px,$page-width);
			header{
				p{width: 100%;}
			}

			@include rwd(s) {
				text-align: left;
				margin-top: 30px;
				width: 100%;
			}

			@include rwd(m) {
				text-align: left;
				margin-top: 50px;
				width: 90%;
			}

		}
		figure {
			@include float-left();
			width:calcDist(960px,$page-width);
			img{
				margin-left:-500px;
			}
			@include rwd(s) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: -25%;
					width: 120%;
				}
			}

			@include rwd(m) {
				width: 100%;
				img{
					margin-top: 100px;
					margin-left: -25%;
					width: 120%;
				}
			}
		}
	}
}