.bg{
	background-color:#f3eac3;
}
.page{
	&.microsd{
		.group{
			@include float-left();
			margin-top: 80+ +$asus-main-nav-h;
			width:calcDist(520px,$page-width);
			header{
				p{width: 100%;}
			}
			p{
				width: 70%;
			}

			@include rwd(s) {
				@include float-left();
				margin-top: 30px;
				width: 100%;
				p{
					width: 100%;
				}
			}

			@include rwd(m) {
				@include float-left();
				margin-top: 50px;
				width: 90%;
				p{
					width: 100%;
				}
			}

		}
		figure {
			@include float-right();
			width:calcDist(440px,$page-width);
			img{
				margin-top: 120+ +$asus-main-nav-h;
				margin-left: -280px;
			}
			@include rwd(s) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: 0;
					width: 100%;
				}
			}

			@include rwd(m) {
				width: 100%;
				img{
					margin-top: 100px;
					margin-left: 0;
					width: 100%;
				}
			}
		}
	}
}