.page{
	&.splendid{
	background-color:#f3eac3;
		.group{
			@include float-right();
			margin-top: 245+$asus-main-nav-h;
			width:calcDist(380px,$page-width);
			header{
				p{width: 100%;}
			}
			@include rwd(s) {
				margin-top: 30px;
				width: 100%;
			}

			@include rwd(m) {
				@include float-left();
				margin-top: 50px;
				width: 90%;
			}

		}
		figure {
			@include float-left();
			width:calcDist(580px,$page-width);
			img{
				margin-top: $asus-main-nav-h;
				margin-left: -400px;
			}
			@include rwd(s) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: 0;
					width: 100%;
				}
			}

			@include rwd(m) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: 0;
					width: 100%;
				}
			}
		}
	}
}