.page{
	&.charging{
		background-color:#fffae9;
		.headset{
			@include float-left();
			width: 100%;
			.group{
				@include float-right();
				margin-top: 80+ $asus-main-nav-h;
				width:calcDist(480px,$page-width);

				header{
					p{width: 100%;}
				}
				@media only screen and (min-width:$break-small) and (max-width:600px) { 
					@include float-left();
					margin-top: 30px;
					width: 100%;
				}

				@include rwd(m) {
					@include float-left();
					margin-top: 50px;
					width: 90%;
				}

				
			}
			figure {
				@include float-left();
				width:calcDist(480px,$page-width);
				img{
				margin-top: 80+ $asus-main-nav-h;
					margin-left: 50px;
				}
				@media only screen and (min-width:$break-small) and (max-width:600px) { 
					width: 100%;
					img{
						margin: 20px auto 0 auto;
						width: 70%;
						display:block;
					}
				}

				@include rwd(m) {
					width: 100%;
					img{
						margin: 20px auto 0 auto;
						width: 50%;
						display:block;
					}
				}
			}
		}
		.charging-stand{
			@include float-left();
			width: 100%;
			margin-top:70px;

			@media only screen and (min-width:$break-small) and (max-width:600px) { 
				margin-top: 20px;
			}
			.group{
				@include float-left();
				width:calcDist(650px,$page-width);

				header{
					p{width: 100%;}
				}

				p{
					width: 70%;
				}
				@media only screen and (min-width:$break-small) and (max-width:600px) { 
					@include float-left();
					margin-top: 0px;
					padding-top: 0;
					width: 100%;
					p{
						width: 100%;
					}
				}

				@include rwd(m) {
					@include float-left();
					padding-top: 0;
					margin-top: 0px;
					width: 90%;
				}

				
			}
			figure {
				@include float-right();
				width:calcDist(310px,$page-width);
				img{
					margin-top: -30px;
					margin-left: -200px;
				}
				@media only screen and (min-width:$break-small) and (max-width:600px) { 
					width: 100%;
					img{
						margin-top: 20px;
						margin-left: 0;
						width: 100%;
					}
				}

				@include rwd(m) {
					width: 100%;
					img{
						margin: 20px auto 0 auto;
						width: 90%;
						display:block;
					}
				}
			}
		}
	}
}