.design{
	.page{
		&.overview{

			position: relative;		
			
			.bg{
				width:100%;
				height:100%;
				background:#000;
			}

			.group{
				@include float-left();
				position: absolute;
				//margin-top: 240+ +$asus-main-nav-h;
				width: 322px;
				text-align: center;

				header{
					width:100%;
					p{width: 100%;}
				}

				@include rwd(s) {
					margin-top: 30px;
					width: 100%;
				}

				@include rwd(m) {
					padding-top: 0;
					margin-top: 50px;
					width: 100%;
				}

				.button-video{
					background-image: url("../img/index/design/video-button-bg.jpg");
					height:180px;
				}

			}
			figure {
				@include float-right();
				height: 100%;
				width:calcDist(980px,$page-width);
				
				img{
					//margin-left:-250px;
					//height: 100%;
				}
				@include rwd(s) {
					width: 100%;
					height:auto;
					img{
						margin-top: 20px;
						margin-left: 0;
					}
				}

				@include rwd(m) {
					width: 80%;
					height:auto;
					@include float-right();
					img{
						margin-top: 20px;
					}
				}
			}
		}
	}
}