.ocean{
	.page{
		&.overview{
			background-color: #090909;

			p{
				font-family:$quote-font;
				font-style: italic;
				font-weight:300;
				font-size:3em;
				letter-spacing: -0.015em;
			}

			.bg{

				.sky{
					width:100%;
					height:80%;
				}

				.waves{
					position: absolute;
					bottom:0;
					width:100%;
					height:45%;
				}

				.sky-bottom{
					position: absolute;
					top:55%;
					width:100%;
					height:5px;
				}
				
			}

			.name {
				margin-bottom: 10px;
				//@include replace-text-with-dimensions("zen-ui/overview/logo.png",0,0);
				margin-left:auto;
				margin-right:auto;
				
			}
			.group{
				position: relative;				
				text-align: center;
				margin-top: 40%;					
				width: 460px;
				
				
			}		
			
			figure{
				@include float-left();
				display: block;
				margin-left: 0;
				margin-top: 40px+$asus-main-nav-h;
				width: 96px;
				height: 36px;
				text-align: center;
				img{
					position: absolute;
					right:-160px;
					bottom:-80px;

				}
			}
		}
	}
}