@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";

body{
	overflow-x:hidden;
}


#main-zone .container{
	padding: 0;
	min-width: 100%;
}
#special-sectionOverview{
	@import "compass/reset";
	a {		
		outline:none !important; 
		hlbr:expression(this.onFocus=this.blur()) !important;
		&.link-text{
			font-size: 1.5em;
		}
	}

	img{
		max-width: none !important;
	}

	padding: 0px;
	font-size:$emBase;
	font-family: $content-font;

	#wrap{
	    width: 100%;
	    background-color: #ccc;
	    margin-top: 60px;
	    // height: 6000px;
	    @include rwd(m){
	    	margin-top: 130px;
	    }

	    @include rwd(mp){
	    	margin-top: 30px;
	    }

	    @include rwd(l) {
	    	margin-top: 0;
	    }
	}
	
	&.pin{
		z-index:5000;
	}

	section{
		float:left;
		width: 100%;
		position: relative;

		.swipe-wrap{
			position: relative;
			&.animate {
				@include transition-property(all);
				@include transition-duration(.3s)
	        }
		}
		&.overview{

			.android-wear-logo{
				position: absolute;
				right: 0;
				bottom:20px;
			}
		}

		@include rwd(s) { 
			min-height:300px;
		}

		@include rwd(m) { 
			min-height:300px;
		}

		@include rwd(l) { 
			height:$page-height;
		}
	}

	.page{
		float:left;
		width: 100%;
		z-index: 50;
		overflow:hidden;
		




		@include rwd(l) {
			// position: absolute;
			top: 0;
			height:$page-height;
		}
		html.lt-ie9 &{
			height:$page-height;
		}

		&.show{
			z-index: 100;
			visibility: visible;
		}

		&.dark{
			h1{
				color:#fff;
			}

			header p{
				color:#c2c2c2;
			}

			p{
				color:#fff;
			}

			a.func{
				color:#33b9ff;

				&:hover{
					color:#44c8ff;
				}
			}
		}

		.bg{
			position: absolute;
			overflow:hidden;
			img{
				display: block;
			}
		}
	}


	.center{
		// width:auto;
	    margin: 0 auto;
	    height: 100%;
	    position: relative;
		z-index: 10;

		width:$page-width;
		@include rwd(s) {
			padding-left: 20px;
			padding-right: 20px;
			width:auto;
		}
		@include rwd(m) {
			padding-left: 30px;
			padding-right: 30px;
			width:auto;
		}

		@include rwd(l) {
			width:$page-width;
			padding-left: 30px;
			padding-right: 30px;
		}

		@include rwd(xl) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}


	.name{
		margin-bottom: em(35px + 20px,$header-font-size);
	}

	h1{
		line-height: ($header-line-height /$header-font-size);
	    margin: 0 0 12px 0;
	    margin-bottom: em(25 - 15px,$header-font-size);
	    padding: 0px;
	    width:100%;
		font-weight: 300;
		font-family: $header-font;
		letter-spacing: -2px;
		text-transform: capitalize;
		text-align: center;
		font-size: 3.1em;//emCal(40px);//font-size: 4.8em;//emCal($header-font-size);
		color: #363636;

		@include rwd(s) { 
	    	font-size: emCal($header-small-font-size);
			line-height: ($header-small-line-height /$header-small-font-size);
	    }
	    @include rwd(m) { 
	    	font-size: emCal($header-medium-font-size);
			line-height: ($header-medium-line-height /$header-medium-font-size);
	    }



	    &.bold{
	    	font-weight:700;
	    	line-height: 60px;
	    	text-align: left;
			text-transform: uppercase;
	    	font-size: emCal($header-font-size);//font-size: 4.8em;//emCal($header-font-size);
	    }

	    &.lowercase{
	    	line-height: 1.2em;
	    	text-transform: capitalize;
	    	font-size: 3.1em;
	    	letter-spacing:0;

	    }

	    &.quote{


			margin: 0 auto 0.4em;
			font-size: 5em;
			font-weight: 400;
			line-height: 1.1em;
			font-style:italic;
			letter-spacing: 0;
			text-transform: uppercase;

	    }
	}



	.group{
		z-index: 1000;
		>p{
			position: relative;
			z-index: 900;
			font-weight:300;
			font-size:emCal($content-font-size);
			line-height: ($content-line-height /$content-font-size);
			color:#363636;
			font-family: $content-font;
			letter-spacing: 0.015em;

			@include rwd(s) { 
	    		font-size: emCal($content-small-font-size);
		    	line-height: ($content-line-height /$content-font-size);
		    }
		    @include rwd(m) { 
		    	font-size: emCal($content-medium-font-size);
		    	line-height: ($content-line-height /$content-font-size);
		    }
		}

		p{
			&.note{
				font-size:14px;
				color:#a6a6a6;
				margin-top: 28px;
			}

			&.spec{
				margin-top: 20px;
				margin-bottom: 20px;
			}

			&.footnote{
				font-size:1em;
				margin-bottom: 0;
			}
		}
		
		width: 90%;
		margin:0 auto;
		// padding-top: 30px;
		/*
		margin-left: 5%;
		margin-right: 5%;
		*/
	  //   @include rwd(s) { 
	  //   	width: auto;
	  //   	position: relative;
	  //   	margin-left: emCal(25px);
	  //   	margin-right: emCal(25px);
			// padding-top: emCal(30px);
			// br{
			// 	content:' ';
			// 	&:after{
			// 		content:' ';
			// 	}
			// }
	  //   }
	  //   @include rwd(m) { 
	  //   	width: 80%;
	  //   	position: relative;
	  //   	margin-left: emCal(50px);
	  //   	margin-right: emCal(50px);
			// padding-top: emCal(30px);

			// br{
			// 	content:' ';
			// 	&:after{
			// 		content:' ';
			// 	}
			// }
	  //   }
	}

	.multi{
		.group{
			@include rwd(m) { 
				padding-top: emCal(60px);
			}
			@include rwd(s) { 
				padding-top: emCal(60px);
			}
		}
	}
	header{
	    margin-bottom: 2em;

	    @include rwd(s) { 
	    	margin-bottom: em(7,$content-font-size);
	    }
	    @include rwd(m) { 
	    	margin-bottom: em(7,$content-font-size);
	    }
		p{
			color:#898989;
			font-family: $subtitle-font;
			font-size:emCal($subtitle-font-size);
			line-height: ($subtitle-line-height/$subtitle-font-size);
			font-weight:300;
			letter-spacing: -0.01em;

			@include rwd(s) { 
		    	font-size: emCal($subtitle-small-font-size);
		    	line-height: ($subtitle-small-line-height/$subtitle-small-font-size);
		    }
		    @include rwd(m) { 
		    	font-size: emCal($subtitle-medium-font-size);
		    	line-height: ($subtitle-medium-line-height/$subtitle-medium-font-size);
		    }
		}
	}

	a.func{
    	margin-top: emCal(25px - 17px);
		color:#00a8ff;
		font-family: $func-font;
		font-size:emCal($func-font-size);
		line-height:1;

		@include rwd(s) { 
    		margin-top: em(25px - 15px);
    		font-size: emCal($content-small-font-size);
	    	line-height: ($content-line-height /$content-font-size);
	    }
	    @include rwd(m) { 
    		margin-top: em(25px - 15px);
	    	font-size: emCal($content-medium-font-size);
	    	line-height: ($content-line-height /$content-font-size);
	    }
		font-weight:300;
		display: block;
		b{
			margin-left: 6px;
			@include replace-text('common/play.png',0,0);
			width: 6px;
			height: 10px;
			margin-top: 5px;
			display: inline-block;
		}

		&:hover,&.active{
			color:#008fd9;
			b{
				background-position: -10px 0px;
			}
		}
	}

	.video{
    	margin-top: em(25 - 5,$content-font-size);

    	@include rwd(s) { 
    		margin-top: em(25px - 19px);
	    }
	    @include rwd(m) { 
    		margin-top: em(25px - 19px);
	    }

		position: relative;
		z-index: 800;
		height: $func-font-size;
		li{
			float:left;
			margin-left: 10px;
			&:first-child{
				margin-left: 0;
			}

			a{
				margin-top: 0;
			}
		}
	}
}