@import "page/_next-section.scss";

.page{

	a{
		color:#fff;
		font-size: 15px;
		&:hover{			
			text-decoration: underline;
		}
	}

	hr{
		display:inline-block;
		width:220px;
		height:1px;
		margin:20px 0; 
		border:none;
		background:#9b6116;

	}

	

	


	.button-video{
		background: url("../img/index/kv/play-button-bg.png") no-repeat 0 0;
		border:none;

		margin:20px 0;
		width:322px;
		height:180px;
		text-align: center;

		color:#fff;

		.play-symbol{

			display:inline-block;
			width:66px;
			height:65px;
			margin:10px auto 15px; 

			background: url("../img/index/kv/play-button.png") no-repeat 0 0;
		}

		.text{
			display:block;
			margin-top:5px !important;
			font-size:$content-font-size !important;
			font-family:$content-font !important;
		}

		&:hover{
			.play-symbol{
				background: url("../img/index/kv/play-button-over.png") no-repeat 0 0;
			}
		}

	}

}
