.page{
	&.aptX{
		background-color:#e7c27e;
		.group{
			@include float-right();
			margin-top: 103 + $asus-main-nav-h;
			width:calcDist(480px,$page-width);
			margin-left:0px;
			header{
				h1{
					width: 340px;
					@include float-left();
				}

				img{
					margin-top: 30px;
					margin-left: 20px;
				}
				@include clearfix();
				p{width: 100%;}
			}

			p.note{
				color:#333;
			}
			@include rwd(s) {
				margin-top: 30px;
				width: 100%;
				header{
					h1{
						width: 60%;
						@include float-left();
					}
					img{
						width: 35%;
						margin-top: 0;
						margin-left: 0;
						@include float-right();
					}
				}
				p{
					br{
						overflow:hidden;
						clear:both;
						content:"";
					}
				}
			}


			@include rwd(m) {
				margin-top: 50px;
				width: 100%;
				header{
					h1{
						@include float-left();
					}
					img{
						@include float-left();
					}
				}
				p{
					br{
						overflow:hidden;
						clear:both;
						content:"";
					}
				}
			}

		}
		figure {
			@include float-left();
			width:calcDist(480px,$page-width);
			img{
				margin-left: -100px;
			}

			@include rwd(s) {
				width: 100%;
				img{
					margin-top: 0;
					margin-left: 0;
					width: 100%;
				}
			}

			@include rwd(m) {
				width: 100%;
				img{
					margin-top: 0;
					margin-left: 0;
					width: 100%;
				}
			}
		}
	}
}