.page{
	&.cpu{
		background-color:#e6e0d0;
		.group{
			@include float-left();
			margin-top: 114 + $asus-main-nav-h;
			width:calcDist(480px,$page-width);
			margin-left:-20px;
			header{
				p{width: 100%;}
			}

			@include rwd(s) {
				margin-top: 30px;
				margin-left: 0;
				width: 100%;
				h1 img{width: 90%;}
				p.spec>img{
					width: 30%;
				}
			}

			@include rwd(m) {
				margin-left: 0;
				width: 100%;
				margin-top: 50px;

				p{
					width: 75%;
					@include float-left();
				}
				p+p{
					width: 20%;
					margin-top: 0;
					margin-bottom: 0;
					@include float-right();
				}
			}

		}
		figure {
			@include float-right();
			width:calcDist(480px,$page-width);
			img{
				margin-top: 33 +$asus-main-nav-h;
				margin-left: -120px;
				height: 100%;
			}

			@include rwd(s) {
				width: 100%;
				img{
					margin-top: -100px;
					margin-left: 50px;
					width: 100%;
				}
			}


			@include rwd(m) {
				img{
					width: 800px;
					margin-top: 0px;
					margin-left: -440px;
				}
			}
		}
	}
}