.page{
	&.materials{
		background-color:#1e1a19;
		text-align: center;

		.bg{
			position: absolute;
			left:10%;
			bottom:0;
			width:80%;
			height:60%;		
			min-width:1100px;
			overflow:visible;

			img{
				position: absolute;
				bottom:0;
			}
		}

		.group{
			display:inline-block;
			margin-top: 84+ $asus-main-nav-h;
			width:calcDist(460px,$page-width);

			text-align:center;
			header{
				p{width: 100%;}
			}			

		}		
	}
}