//2013 template

#mainfooter{position: relative;z-index:99999;}
/*#mainmenu{display: none;}*/
#product-topinfo{display: none;}
//#overview-top-nav{display: none;}
.product-head{display: none;}
.product-aside{display: none;}
#Product_BottomSection{display: none;}
#product-footer-zone{display: none;}
// #middle-menu-zone{display: none;}
hr.gray{display:none;}
#overview-top-nav{position:relative;z-index:500;}
#product-footer-zone{display:none;}
#Product_BottomSection{display:none;}
hr.gray{display:none;}
.product-head{display: none;}
#top-nav-line{z-index: 9999;position: relative;}
.page-title{position: relative;z-index: 100;}
.container>article>.row{margin-top: -30px;}
#product_similar_area{display: none;}
.similar-area{display: none;}
.accessories-area{display: none;}

//2014
#overview-top-nav{
    &.fixed{
        h1.page-title{display: block;}
        display: block;
    }

    filter:none;
}


#main-zone{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#asus-api-header{
  background-color: #fff;
}

h1.page-title{
  color:#999;
}

.fixed h1.page-title{
  color:#333;
}


.fixed #top-nav-line a{
  color:#333;
}
.fixed #top-nav-line a:hover{
  color:#999;
}
#top-nav-line a{
  color:#999;
}

#top-nav-line a:hover{
  color:#fff;
}