.bg{
	background-color:#fffae9;
}
.page{
	&.overview{
		.center{
			width:1100px;
		}
		.group{
			@include float-left();
			margin-top: 150+ $asus-main-nav-h;
			width:calcDist(300px,$page-width);
			text-align: center;

			header{
				p{width: 100%;}
			}

			@include rwd(s) {
				@include float-left();
				margin-top: 30px;
				width: 100%;
			}

			@include rwd(m) {
				@include float-left();
				margin-top: 50px;
				width: 90%;
			}

			.button-video{
				background: url("../img/index/welness/video-button-bg.jpg") no-repeat 0 0;				
			}

		}
		figure {
			@include float-left();
			//width:calcDist(480px,$page-width);
			height:100%;
			img{				
				height: 100%;
			}

			@include rwd(s) {
				width: 100%;
				img{
					margin-top: 0;
					margin-left: 0;
					width: 100%;
				}
			}

			@include rwd(m) {
				img{
					width: 800px;
					margin-top: 20px;
					margin-left:0px;
				}
			}
		}
	}
}