.bg{
	background-color:#fdf6d3;
}
.page{
	&.selfie{
		.group{
			@include float-right();
			margin-top: 270+ $asus-main-nav-h;
			width:calcDist(400px,$page-width);

			header{
				p{width: 100%;}
			}

			@include rwd(s) {
				@include float-left();
				margin-top: 30px;
				width: 100%;
			}

			@include rwd(m) {
				@include float-left();
				margin-top: 50px;
				width: 90%;
			}

		}
		figure {
			@include float-left();
			width:calcDist(560px,$page-width);
			img{
				margin-left: 70px;
				margin-top: 108px +$asus-main-nav-h;
			}

			@include rwd(s) {
				width: 100%;
				img{
					margin:20px auto 0 auto;
					display:block;
				}
			}

			@include rwd(m) {
				width: 100%;
				img{
					margin:20px auto 0 auto;
					display:block;
				}
			}
		}
	}
}