@import "compass/css3/border-radius";
@import "compass/reset/utilities";
@import "compass/css3/transition";

.page{
	&.android-apps{
		background-color:#fff;
		text-align: center;
		.menu-page{
			width: 280px;
			height: 35px;
			@include reset-box-model();
			@include border-radius(4px, 4px);	
			margin: 40px auto 0;
			border: 1px solid #7fb53e;
			overflow: hidden;
			li{
				@include float-left();
				text-align: center;
				a{
					display: block;
					width: 140px;
					height: 35px;
					color: #7fb53e;
					font-size: 1.2em;
					line-height: 35px;
					text-decoration: none;
					@include transition-property(all);
  					@include transition-duration(.6s);
  					@include transition-timing-function(ease);
					
					&:hover{
						background-color: #7fb53e;
						color: #fff;
					}&.on{
						background-color: #7fb53e;
						color: #fff;
					}
				}
			}

		}
		.group{
			@include float-left();
			display:inline-block;
			margin-top: 84+ $asus-main-nav-h;
			width: 380px;

			text-align:left;
			header{
				.lowercase{
					text-align: left;
				}
			}
			p{
				margin-bottom: 2em;
			}
			/*
			@include rwd(s) {
				text-align:left;
				margin-top: 30px;
				width: 100%;
			}

			@include rwd(m) {
				text-align:left;
				margin-top: 50px;
				width: 90%;
			}
			*/

		}
		figure {
			@include float-right();
			width: 580px;
			img{
				margin-top: 40 - 20px;
			}
			/*
			@include rwd(s) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: 0;
					width: 100%;
				}
			}

			@include rwd(m) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: 0;
					width: 100%;
				}
			}
			*/
		}
	}
}