@import "compass/css3/border-radius";
@import "compass/reset/utilities";
@import "compass/css3/transition";

.page{
	&.android-apps{
		background-color:#fff;
		text-align: center;

		.center{
			width:1250px;
		}

		.menu-page{
			width: 280px;
			height: 35px;
			@include reset-box-model();
			@include border-radius(4px, 4px);	
			margin: 40px auto 0;
			border: 1px solid #7fb53e;
			overflow: hidden;
			li{
				@include float-left();
				text-align: center;
				a{
					display: block;
					width: 140px;
					height: 35px;
					color: #7fb53e;
					font-size: 1.2em;
					line-height: 35px;
					text-decoration: none;
					
					&:hover{
						background-color: #7fb53e;
						color: #fff;
					}&.on{
						background-color: #7fb53e;
						color: #fff;
					}
				}
			}

		}
		.group{
			@include float-left();
			display:inline-block;
			margin-top: 84+ $asus-main-nav-h;
			width: 380px;

			text-align:left;
			header{
				.lowercase{
					text-align: left;
				}
			}
			p{
				margin-bottom: 2em;
			}			
			
		}
		figure {
			position: relative;
			@include float-right();	
			text-align: left;
			width:860px;

			.app{
				display:inline-block;
				position: relative;
				margin-left:5%;
				&:first-child{
					margin-left:10%;
				}
				h2{					
					margin:-5px 0 15px 0;
					width:100%;
					font-size: 1.5em;
					text-align: center;
				}
			}
		}

		@media screen and (max-width: 1400px) {
			
			.center{

				width:960px;

				figure{

					margin-top:-120px;
					width:460px;					

					.app{
						margin-left:7.5%;
						&:first-child{
							margin-left:7.5%;
						}
					}
				}
			}			
		}
	}
}