
.page{
	&.overview{
	background-color:#131011;
		.group{
			position: relative;
			@include float-right();
			width: 450px;

			header{

				.logo{
				}
				h1{
					margin-left:100px;
					text-align: left;
				}
				h1.bold{
					margin-top: -0.3em;
					text-indent:-3px
				}
			}

			p{

				font-size: 2em;
				line-height: 1.2em;
				letter-spacing: 0.001em;
				margin-left:100px;
				margin-bottom:4em;
			}

			

		}
		figure {
			width: 450px;
			height: 100%;
			position: absolute;
			right: 0;
			margin-left:100px;
			
			img{

				position: absolute;
				margin-left: -84px;
				left: 50%;
				bottom: 0;
			}
			
		}
	}
}