@import "compass/css3/border-radius";
@import "compass/reset/utilities";
@import "compass/css3/transition";

.page{
	&.zen-ui{
		background-color:#d2d2d2;
		.menu-page{
			width: 280px;
			height: 35px;
			@include reset-box-model();
			@include border-radius(4px, 4px);	
			margin: 40px auto 0;
			border: 1px solid #333;
			overflow: hidden;
			li{
				@include float-left();
				text-align: center;
				a{
					display: block;
					width: 140px;
					height: 35px;
					color: #333;
					font-size: 1.2em;
					line-height: 35px;
					text-decoration: none;
					@include transition-property(all);
  					@include transition-duration(.6s);
  					@include transition-timing-function(ease);
					
					&:hover{
						background-color: #333;
						color: #fff;
					}&.on{
						background-color: #333;
						color: #fff;
					}
				}
			}

		}
		.group{

			@include float-left();
			width: 300px;
			text-align: center;
			header{
				p{width: 100%;}
			}
			/*
			@include rwd(s) {
				@include float-left();
				margin-top: 30px;
				width: 100%;
			}

			@include rwd(m) {
				@include float-left();
				margin-top: 50px;
				width: 90%;
			}
			*/
		}

		figure {
			@include float-left();
			width: 319px;
			margin: 0 20px;
			img{
				margin-left: 0px;
			}
			/*
			@include rwd(s) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: -30%;
				}
			}

			@include rwd(m) {
				width: 100%;
				img{
					margin-top: 20px;
					margin-left: 0;
				}
			}
			*/
		}

	}
}