
body .column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
text-align: right;
}
body .container {
direction: rtl;
}
.container,.table td {
text-align: right;
}
body, input {
font-family: Tahoma, Geneva, sans-serif !important;
}

body .column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
float: right;
margin-right: 0;
margin-left: 10px;
text-align: right;
-webkit-text-size-adjust: none;
}
body .last {
margin-left: 0;
}

#mainmenu #asus-logo a {
text-indent: 9999em;
}
/*  product top */
#ctl00_ContentPlaceHolder1_ctl00_overview1_span_overview .down_3 {
	padding-right: 26px;
}
div {
direction: rtl;
}
#product-main-image {
	float: left;
	margin-left: 0px;
	width: 440px;
}
div.span4 .article-btn {
	position: relative !important;
	right: -5px !important;
	float: left !important;
}
.article-btn .article-go-left, .article-btn .article-go-right {
display: inline-block;
width: 19px;
height: 21px;
background-position: -26 -20px;
}
.article-btn .article-go-right {
background-position: -1px -20px;
margin-left: 2px;
}
.article-btn .article-go-right:hover {
	background: url("../asus_img/asus_sprite.png") no-repeat -1px -20px
}

.article-btn .article-go-left,.article-btn .article-go-left:hover  {
	background: url("../asus_img/asus_sprite.png") no-repeat -26px 1px;
}
.article-btn .article-go-right.no_next:hover, .article-btn .article-go-right.no_next {
	background: url("../asus_img/asus_sprite.png") no-repeat -1px 1px;
}
.article-btn .article-go-left.no_next:hover, .article-btn .article-go-left.no_next {
	background: url("../asus_img/asus_sprite.png") no-repeat -26px -20px;
}
#main-search-zone #search-btn {
right: 146px;
top: 4px;
*top:5px;
}
#help-menu {
	border-right: 0px solid #313131;
	border-left: 1px solid #313131;
}
#products-sitemap,#aside-menu,#help-menu,#middle-menu{
	float: right !important;
}

.pull-right,.badge-asus  {
	float: left;
}
 #member-page-content,#news-content{
	border-right: 1px solid #CCC;
	border-left: 0px solid #CCC;
	padding-left: 0px;
	padding-right: 23px;
}
.navbar .nav,#mainmenu #asus-logo,#aside-button .print-btn,#aside-button,#overview #old-sectionOverview div.column,#contentpage_menu_list,#news_menu_list,#befor-compare-area h3 {
float: right;
}
.navbar .nav{
	*font: left;
}
#overview #old-sectionOverview .columns_abb div.last, #overview #old-sectionOverview .columns_aaab div.last, #overview #old-sectionOverview .columns_abcd div.last, #overview #old-sectionOverview .columns_abc div.last, #overview #old-sectionOverview .columns_abbb div.last, #overview #old-sectionOverview .columns_aab div.last, #overview #old-sectionOverview .columns_ab div.last {
float: left;
}
#article-zone .storyboard h2 {
margin-right: 18px;
}

#main-search-zone {
left:0px;
}

#memberbar,#memberbar #member-list .dropdown-menu .member-level-info, #memberbar #compare-list .comparenow,#mainfooter #bottom-menu #copyright {
	float: left;
}
.navbar .nav > li {
float: right;
*float: left;
}

#main-product-nav {
/*	position: relative;*/
	z-index: 100;
}
#awards-page-zone .pull-right {
	margin-left: 20px;
}
#awards-number {
	float: right;
	padding-right: 1em;
}
#award-select-zone {
text-align: left;
margin-bottom: 10px;
}
.btn-toolbar .btn-group {
display: block;
float: left;
}
#award-select-zone .control-label,#memberbar #member-list .dropdown-menu #member-above > ul > li,#memberbar #member-list .dropdown-menu .member-main-title,.span3.left-menu-zone,.search-unit .hot-product-pic {
	float: right;
}
#product_similar_area ul {
float: right !important;
}
#advanced-search-item,#product_content_area .similar-area ,#advanced-search-item > li > ul > li,#banner-btn,#banner-zone,#inner-banner-zone,#middle-menu .navbar-inner,#polls-result>li, #main-zone-5 #MainZone_Hotproudct #vote_area .vote_inner,#product-home-banner,#product-home-banner .span6,#gallery,#product-gallery-area,#extra_link{
	direction: ltr;
}
#main-search-zone {
	right: auto;
}
#memberbar #member-list .dropdown-menu #member-above > ul > li > ul a {
	padding: 3px 0px;
}
#member-above .arrow-style {
	border-left: 0px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	bottom: 0;
	position: absolute;
	top: 70px;
	right: auto;
	left: 0;
	padding-right: 0px;
	padding-left: 0px;
	border-color: #E5E5E5;
	float: left !important;
}
#member-above .arrow-style a{
	text-align: left;
}
.close-drop {
	right: auto;
	left:2px;
}
.checkbox {
	margin-right: 0px;
	padding-left: 0px;
}
.checkbox input[type="checkbox"] {
	float: right;
	margin-left: 8px;
	margin-right: 0px;
}
#advanced-search-item > li .search-item-title {
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 0px;
	padding-top: 1px;
	display: block;
	color: #0092FF;
	background: url("/media/img/close_round.png") no-repeat 100% 0;
	cursor: pointer;
	text-align: right;
}
#advanced-search-item>li .search-item-title:hover{background:url("/media/img/close_round_hover.png") no-repeat 100% 0}
#advanced-search-item > li .search-item-title.open-round {
	background: url("/media/img/open_round.png") no-repeat 100% 0;
}
#advanced-search-item>li .search-item-title.open-round:hover{background:url("/media/img/open_round_hover.png") no-repeat 100% 0}
#product-home-aside-link > li {
	padding-left: 0px;
	padding-right: 18px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWBJREFUeNpskT1Lw1AUhk+Tkn5Am9hBhNo5dJAspbuCTlLQyf4B/Qcurg6Ci4Kji1MQBPEnCOLSCGZJcahTWuj3VyBNW1vfU+rFoi88ueck77m559zQfD4nlmVZMSxnoAC2gAfewHUul3ukpUJcYNu2jvgplUrpqqpSJBKh2WxGvu9Tr9ej4XD4gO9HhmF8hRzHkZG8apqWTyQS9J+63S55nneazWYvJUVRjmHMR6NRmkwmC9ZuwyJm4vE4wXdeqVTSXFCQZZnG47GAtX4XE/l0OiVsCKuyK2UymTQbgiAQ/GjTVMU7Pi68G2HTNJu6rlMymfxz9vK+S8sfUqlUokaj0Q8jfsEkdriH37L3PoWZNRgMeHmWeM71er3TbrdFk9b2x0rT1WqVRqPRfbFYdCQ8Oig6dF23j8IVI0xUq9Wo1Wq9w3MiLo6FXrj5K3CAach8cZhOE/kNuMDGiwN+CzAAcz3FLflNBE4AAAAASUVORK5CYII=') no-repeat 100% 3px;
}
#AdvanceSearchResult .hot-product-unit .highlight-spec {
	right: auto;
	left: 10px;
}
#memberbar #compare-list .dropdown-menu .compare-viewed-list > li{
	float: right;
margin-right: 2%;
margin-left: 0% !important;
}
#memberbar #compare-list .dropdown-menu .compare-viewed-list > li:first-child,#memberbar #viewed-list .dropdown-menu .compare-viewed-list>li:first-child{
margin-right: 0%;
}
#breadcrumbs a {
	direction: rtl;
}
.compare-viewed-list [class*="span"]{
	float: right;
	margin-left: 0px;
	margin-right: 2%;
}
.btn-group > .btn-asus:last-child, .btn-group > .dropdown-toggle {
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
}
.btn-group > .btn-asus:first-child {
	margin-left: 0;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
}
#product-level3 .dropdown-menu li a {
	background-position:96%;
}
#product_reset_link{
	margin-left: 140px;
	*margin-left: 84px;
}

#memberbar #compare-list .comparenow {
float: none;
}
.compare_title {
min-height: 55px;
}
#product-sub-nav>.row-fluid>.span-5col,#product-business-nav>.row-fluid>.span-5col,#products-sitemap ul, #aside-menu ul, #help-menu ul {
	float: right;
	
}
#product-sub-nav>.row-fluid>.span-5col,#product-business-nav>.row-fluid>.span-5col{
	*width: 17.9%;
}
#product-sub-nav>.row-fluid>.span-5col,#product-business-nav>.row-fluid>.span-5col{
	margin-left: 0px;
	margin-right: 2.5%;
}
#product-sub-nav>.row-fluid>.span-5col:first-child,#product-business-nav>.row-fluid>.span-5col:first-child {
margin-left: 0;
margin-right:0;
}
.no-marging-left {
margin-left: 0 !important;
margin-right: 0 !important;
clear: both;
}
.product-spec > li .spec-item {
border-left: 1px solid #ccc;
float: right;
}
.product-spec > li > .spec-data {
border-left: none;
margin-left: 0% ;
margin-right: 20.1%;
width: 79%;
}
.product-spec > li .spec-item {
padding-right: 10px;
padding-left: 0px;
}
#mainfooter > .container > .row > .span4 {
padding-left: 0px;
padding-right: 20px;
}
#compare-list-table .compare-item td a.closeitem-button {
background: url("/media/img/close_round.png") no-repeat scroll 0 0;
}
a.closeitem-button>span{
width: 100%;
text-align: right;
display: block;
}
#main-zone > .container h1.page-title,.product-spec>li,#AdvanceSearchResult .hot-product-unit .highlight-spec,#compare-list-table td ,#mainfooter #bottom-menu #copyright,#main-search-zone .selectbox li,.search-unit .product-name,.selectbox2 li,#MainZone_Hotproudct,#MainZone_News{
direction: ltr;
}
#list-table-area #compare-list-table .closed .closeitem-button {
background: url("/media/img/open_round.png") no-repeat scroll 0 0;
}
#list-table-area #compare-list-table .closed .closeitem-button:hover {
background: url("/media/img/open_round_hover.png") no-repeat scroll 0 0;
}
#memberbar .info-number {
	margin-right: 0.5em;
	margin-left: 0em;
	*display: block;
	*float: left;
	*direction: ltr;
	*margin-top: -20px;
}
#compare-list >a,#viewed-list>a{
	*width: 115px;
}
.search-unit .add-to-list {
right:76%;
}
.searchbar-gray .search-btn-blue {
	right: 681px;
}
.selectbox2 {
	left: 0px;
	margin-left: 0px !important;
}
#compare-list .dropdown-menu .compare-viewed-list > li,  #memberbar #viewed-list .dropdown-menu .compare-viewed-list>li {
margin-left: 0%;
}
#mainmenu #social-media {
	*position: absolute;
	*top:20;
	*left:70px;
}
#article-zone .storyboard #MainZone_MediaReview  h2,#article-zone .storyboard #MainZone_Vote h2 {
margin-right: 0px;
}
#MainZone_MediaReview #media_area .review-article a h3 ,#MainZone_MediaReview #media_area .review-article a p {
padding-right: 12px;
}
#main-search-zone .search-query {
padding-right: 5px;
padding-left: 30px;
}

#product-business-nav,#product-sub-nav{
	*left:0px ;
}
#main-zone-5 #article-zone.column-4 #middle-story {
left: 319px;
}
#main-zone>.container h1.page-title {
	width: 100%;
}
#middle-menu-zone #extra_link #footer_country_link  {
float: right;
}
#middle-menu {
float: left !important;
}
#anchorMemberDrop>img {
margin-right: 0px;
margin-left: 6px;
}
#article-zone .vote-list li img{ *margin-left:18px; }
#extra_link .nav {
	float: left;
}
.span3{
	*width: 221px;
}
.product-home-top-banner .arrow-right{
	*left:96.5%;
}
#mainfooter #bottom-menu a:link, #mainfooter #bottom-menu a:visited {
margin-right: 14px;
}
.article-btn {
	right:auto;
}
#main-zone-5 #article-zone.column-4 #right-story #MainZone_News .article-btn {
	top:-4px;
}

.CheckboxList input {
float: right;
margin-left: 5px;
margin-right: 0px;
clear: both;
}
#product_content_area #sectionOverview .top_full_background{
	margin-right: 0px;
	margin-left: 0px;
}
#overview #sectionOverview div.column{
	/*direction: ltr;*/
}
#overview #sectionOverview div.column li,#overview #old-sectionOverview div.column li{
	direction:rtl;
}
#overview #sectionOverview ul.bluecircle li,#overview #old-sectionOverview ul.bluecircle li {
	padding: 3px 13px 0px 24px;
	background: url(/images/bluecircle.gif) scroll no-repeat 100% 5px;

}
#product-spotlight .item-title{
	margin-right: 16px;
}
#product-spotlight ul li {
	float: right;
	border-right: 0px solid #CCC;
	border-left: 1px solid #CCC;

}
#main-zone>.container>article>.row{
	margin-left: 0px;
}
#AdvanceSearchRightPart,#AdvanceSearchResult {
	width: 714px;
	margin-left: 0;
	
}
#product-level3>.dropdown-menu {
margin-left: 5px;
}

#vote_area .side-content {
    height: 83px;
}
.CheckboxList input {
	float: right !important;
}
#vote_panel td{
	direction: rtl;
}
#special-sectionOverview div,#special-sectionOverview,#special-sectionOverview *{
	direction:ltr !important;
	text-align: left ;
	}
#special-sectionOverview .Infinity_nav{
	text-align: center;
}
#vote_panel .polls-result>ul>li {
	clear:both;
}
#vote_panel .polls-result>ul>li>small {
	display:block;
}
#vote_panel .pollbar {
	float: right;
}
#vote_panel>div {
right: 100% !important;
left: 0;
}
#main-zone-5 #article-zone.column-4 #right-story #MainZone_News h2 {
right: 0;
}
#news_area {
	clear: both;
}
#asus-logo a {
background: url("../asus_img/asus_logo.png") no-repeat 100% 0;
}
@media (max-width: 719px){
	#product-level3>.dropdown-menu {
		margin-left: 0px;
	}
	#bottom-menu>a:first-child {
		background:none;
	}
	
	.btn-adv.point-right {
		left: -100%;
		margin-right: -123px;
	}
	#main-search-zone #search-nav-button {
		border-left: 0px solid #fff;
		-webkit-box-shadow: inset 0px 0px 0px #ccc;
		-moz-box-shadow: inset 0px 0px 0px #ccc;
		box-shadow: inset 0px 0px 0px #ccc;
	}
	#mainmenu #main-product-nav-button{
		border-left: 1px solid #fff;
		-webkit-box-shadow: inset 1px 0px 0px #ccc;
		-moz-box-shadow: inset 1px 0px 0px #ccc;
		box-shadow: inset 1px 0px 0px #ccc;
	}
	#mainmenu #asus-logo {
		left: 0px;
	}
	#main-search {
		left: 0%;
	}
	#main-search-zone .search-query {
		padding-right:0px;
		padding-left: 0px;
	}
	#main-search-zone #search-btn {
		right: 100%;
		margin-right: -36px;
		top: 23px;
	}
	.nav-collapse .nav>li {
		float: none;
	}
	#nav{
		width: 100%;
	}
	#main-product-nav>ul>li>a {
		padding-left: 0px !important;
		padding-right: 27px  !important;
	}
	#memberbar #member-list .dropdown-menu #member-above>ul>li>ul li::before, .navbar-inner #nav .row-fluid .span-5col::before, #mainmenu .nav>li>a:before {
		border-left: 5px solid transparent;
		border-right: 5px solid #33b9ff;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
	}
	.navbar-inner .row-fluid .span-5col ul>li a::before {
		border-left: 5px solid transparent;
		border-right: 5px solid #434547;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		}
	#mainmenu .navbar-inner .nav-collapse .row-fluid .back-title, #ulMemberDrop #member-above .span2 .back-title {
	background: url("/media/img/backlevel.png") no-repeat 97% 17px !important;
	padding: 16px 40px 16px 0px !important;
	}
	#mainmenu .navbar-inner .nav-collapse .row-fluid li, #mainmenu .navbar-inner .row-fluid li ul>li {
		width: 100% !important;
		margin-right: 22px !important;
		margin-left: 0px !important;
	}
	#product-main-image {
		float: left;
		margin-left: 0px;
		width: 352px;
	}
	.product-head>#product-info-zone {
		margin-left: 0px;
	}
	#main-zone-5 #article-zone.column-4 #top-story, #main-zone-4-2 {
		padding-left: 0px;
		padding-right: 24px;
	}


}

@media (max-width: 959px) and (min-width: 719px){
	#product-level3>.dropdown-menu {
		margin-left: 8px;
	}
	.product-home-top-banner .arrow-right{
		*left:95%;
	}
	#product-spotlight ul li {
		border-left: none !important;
	}
	#AdvanceSearchRightPart{
		width: 558px !important;
	}
	.row .span3.left-menu-zone{
		margin-left: 0px;
	}	
	#mainmenu .nav-collapse,#memberbar,#mainmenu .nav-collapse li {
		float: right;
	}
	#MainZone_MediaReview .article{
		float: right !important;
	}
	#product-sub-nav li.span-5col ul li, #product-business-nav li.span-5col ul li {
		float: none;
	}
	#mainmenu #social-media {
		right:0px;
		left:10px;
	}
	#main-zone-5 #article-zone.column-4 #middle-story, #main-zone-6 #article-zone.column-4 #middle-story {
		left: -362px;
	}
	#social-media > .nav{
		float: left;
	}
	#mainmenu #main-product-nav-button{
		left: 0px;
	}
	#product_reset_link {
		margin-left: 75px;
	}
	#main-search-zone .selectbox {
		margin-right: -128px;		
	}
	#mainmenu .nav-collapse{
		height: 60px;
	}
	#mainmenu #asus-logo {
		margin-right: 10px;
	}
	#main-zone-5 #article-zone.column-4 #video-story, #main-zone-6 #article-zone.column-4 #video-story {
		right: 361px;
	}
	#main-zone-5 .video_inner {
		float: right;
		margin-right: 0;
	}
	#MainZone_MediaReview #media_area .review-article a p {
	width: 300px;
	}
	#product-main-image {
		float: left;
		margin-left: 0px;
		width: 352px;
	}
	.product-head>#product-info-zone {
		margin-left: 0px;
	}
	#main-search-zone #main-search {
		left: 10px;
	}
	#main-search-zone #search-btn {
		right: 119px;
	}
	.navbar .nav>li>a>.member-arrow {
		margin-left: -43px;
	}
	#member-above .arrow-style {
		top:99px;
	}
	#member-above .span2 {
		width: 20%;
	}
	#main-zone-5 #article-zone.column-4 #right-story #MainZone_News h2, #main-zone-6 #article-zone.column-4 #right-story #MainZone_News h2 {
		left: 278px;
	}
	#MainZone_News {
		margin-left: -20px;
	}
	#main-zone-5 #video_area, #main-zone-6 #video_area {
		width: 620px;
		height: 235px;
		overflow: hidden;
	}
	#product-spotlight .article-btn {
		right: 90%;
	}
}