#special-sectionOverview{
	.signpost{
		z-index: 600;
		top: (800px - 71) / 2;
		width: 100%;
		height: 58px;
		position: absolute;
		.prev,.next{
			width: 30px;
			height: 58px;
			position: absolute;
		}

		.prev{
			left:3%;
			@include replace-text('common/signpost-left.png');
			@include opacity(.5);
			@include transition-property(opacity);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			background-position: 0px 0px;
			&.dark{
				background-position: 0px 0px;
			}
			&.light{
				background-position: 0px -60px;
			}
			&:hover{
				@include opacity(1);
				@include transition-property(opacity);
				@include transition-duration(.2s);
				@include transition-timing-function(ease-in);
			}

		}

		.next{
			right:3%;
			@include replace-text('common/signpost-right.png');

			@include opacity(.5);
			@include transition-property(opacity);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
			background-position: 0px 0px;
			
			&.dark{
				background-position: 0px 0px;
			}
			&.light{
				background-position: 0px -60px;
			}
			&:hover{
				@include opacity(1);
				@include transition-property(opacity);
				@include transition-duration(.2s);
				@include transition-timing-function(ease-in);
			}
		}
	    @include rwd(s) { display:none;}
	}

	&.lt-ie9{
		.signpost{
			.prev,.next{
				@include opacity(1);
			}
		}
	}
}