.page{
	&.wellness-manager{
		.group{

			text-align: center;
			
			header{
				
			}

			p{
				display:inline-block;
				width:580px;
				font-size: 2.1em;
				line-height: 1.25em;
				letter-spacing: 0.001em;
			}
		}		
	}
}