@import "compass/css3/border-radius";
@import "compass/reset/utilities";

.page{
	&.wellness-apps{

		.center{

			width:1125px;
			height:583px;

			.group, figure{
				display:inline-block;
				width:372px;
				vertical-align: top;


			}



			.group{			
								
				text-align: center;

				&.left{
					margin-top:180px;
					p{
						padding:0 30px;
					}
				}				

				&.right{
					margin-top:170px;
					p{
						padding:0 60px;
					}

					.button{
						@include reset-box-model();
						@include border-radius(4px, 4px);

						border: 1px #333333 solid;
						margin-bottom:40px;
						line-height:36px;

						display:inline-block;
						width:150px;
						height:36px;
						background:#fff;
						color:#333333;		
						cursor:pointer;	

						&:hover, &.active{
							background:#333333;
							color:#fff;	
						}	

						&.daily{
							@include border-right-radius(0px);
						}	

						&.weekly{
							@include border-left-radius(0px);
							margin-left:-4px;
						}	
					}
				}
			}

			p.footnote{
				position: absolute;
				right:0;
				bottom:0;
				padding-right:30px;
				color:#9c9c9c;
			}

			figure{ 

				position: relative;
				height:583px;
				overflow: hidden;

				.product{
					position: absolute;
					top:0;
					left:40px;					

				}

				.weekly{
					visibility:hidden;
				}

				.daily, .weekly{
					position: absolute;
					top:81px;					
					left:62px;

					.topbar{
						position: absolute;
						top:0;
					}

					.main{
						position: absolute;
						top:38px;
					}

					.slides, .line{
						position: absolute;
						left:0;
						top:357px;
					}

				}

				.weekly{

					.topbar{
						position: absolute;
						top:0;
					}

					.main{
						position: absolute;
						top:100px;
					}

				}
			}			
		}
	}
}